<ion-header>
  <ion-toolbar>
    <ion-title>Defi Zone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome To Defi Zone</ion-card-title>
      
    </ion-card-header>
    
    <ion-card-content>
      Web3 is the future of how individuals interact with the internet. Decentralized finance is a on chain system that requires no middle man. Allowing everyone to participate in the market without having to worry about institutions. 
    </ion-card-content>
  

 
  <ion-list lines="full">
    <ion-list-header>
      Search For A Protocol
    </ion-list-header>
    <form [formGroup]="mainForm" (ngSubmit)="searchData()">
      <ion-item>
        <ion-label position="floating">Enter Name</ion-label>
        <ion-input formControlName="nameSearch" type="text" required></ion-input>
      </ion-item>
 
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">
            Search 
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
   
    <ion-item lines="full" *ngFor="let item of searchResults" 
               [routerLink]="['/defi/', item.slug]"
    >
    <img [src]="item.logo" height="60" style="border-radius: 40%; padding-top:10px; padding-right: 10px; padding-bottom: 10px;"  alt=""> 
    <ion-label >
     
      <h2> {{item.name}}</h2>
      <h4><b>Market Cap:</b> ${{item.mcap}}</h4>
    </ion-label>

    </ion-item>

  </ion-list>

</ion-card>

<ion-card>
  <ion-card-header>
    
    <ion-card-title>Saved Protocols</ion-card-title>
  </ion-card-header>
  <ion-item lines="full"
  >
  <img [src]="'https://icons.llama.fi/curve.png'" height="60" style="border-radius: 40%; padding-top:10px; padding-right: 10px; padding-bottom: 10px;"  alt=""> 
  <ion-label >

  <h2>Curve</h2>
  <h4><b>Market Cap:</b>$1,515,359,047.00</h4>
  </ion-label>

  </ion-item>

    
</ion-card>
 
  <ion-list > 
    
    
    <ion-row>
      <ion-col>
        <ion-button (click)="sortProtocols()"  color="primary" shape="full" expand="block">
          Browse Top Protocols 
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-list-header *ngIf="topActive">
      Top Market Cap Protocols
    </ion-list-header>

    <ion-item lines="full" *ngFor="let item of topDefi" 
               [routerLink]="['/defi/', item.slug]"
    >

      <img [src]="item.logo" height="60" style="border-radius: 40%; padding-top:10px; padding-right: 10px; padding-bottom: 10px;"  alt=""> 
      <ion-label >
       
        <h2> {{item.name}}</h2>
        <h4><b>Market Cap:</b> ${{item.mcap}}</h4>
      </ion-label>
  
     
      <!-- <div class="item-note" item-end>
        <ion-icon name="create" style="zoom:2.0" [routerLink]="['/defi/', data.id]"></ion-icon>        
        <ion-icon name="trash" style="zoom:2.0" (click)="deleteSong(data.id)"></ion-icon>
      </div> -->

      <!-- <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon> -->

    </ion-item>
  </ion-list>


</ion-content>